In [1]:
# 8:10 PM
# 8:25 PM

# break

# 8:40 PM
# 8:50 PM
import os; print(os.path.dirname(os.getcwd()).split('\\')[-1])

01-Ins_Logistic_Regression

<font color='red'>Comment</font>

Q) Would you trust your results?

Q) How could you improve the models accuracy?

  # Loan Approver

In [2]:
from path import Path
import numpy as np
import pandas as pd

In [4]:
# Note: The following data has been normalized between 0 and 1
loan_data = Path= "C:/Users/CS_Knit_tinK_SC/Documents/My Data Sources/111621/05_loans.csv"
#data = Path('../Resources/loans.csv')
df = pd.read_csv(loan_data)
df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

  ## Separate the Features (X) from the Target (y)

<font color='red'>Comment</font>

We have selected features/columns/fields which seem relevant to credit worthiness.

Because credit score and income are probably very different numbers (credit score (max 900) vs income max (999999)), the numbers have been scaled/normalized between 0 and 1.

In [5]:
y = df["status"]
X = df.drop(columns="status")
X

      assets  liabilities    income  credit_score  mortgage
0   0.210859     0.452865  0.281367      0.628039  0.302682
1   0.395018     0.661153  0.330622      0.638439  0.502831
2   0.291186     0.593432  0.438436      0.434863  0.315574
3   0.458640     0.576156  0.744167      0.291324  0.394891
4   0.463470     0.292414  0.489887      0.811384  0.566605
..       ...          ...       ...           ...       ...
95  0.360945     0.823295  0.542451      0.224285  0.328504
96  0.114420     0.107174  0.619564      0.370300  0.047719
97  0.309276     0.692433  0.483730      0.328953  0.304493
98  0.549153     0.301588  0.651869      0.717826  0.602004
99  0.448187     0.217651  0.388670      0.968609  0.606231

[100 rows x 5 columns]

  ## Split our data into training and testing

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(75, 5)

  ## Create a Logistic Regression Classifier

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

  ## Fit (train) or model using the training data

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

  ## Score the model using the test data

<font color='red'>Comment</font>

This is accuracy.

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.5466666666666666
Testing Data Score: 0.52

  ## Make predictions

In [10]:
predictions = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": predictions,
                        "Actual": y_test}).reset_index(drop=True)
results.head()

  Prediction   Actual
0       deny     deny
1       deny  approve
2       deny     deny
3    approve     deny
4       deny     deny

  # Confusion Matrix

In [11]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 3,  9],
       [ 3, 10]], dtype=int64)

  # Classification Report

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

     approve       0.50      0.25      0.33        12
        deny       0.53      0.77      0.62        13

    accuracy                           0.52        25
   macro avg       0.51      0.51      0.48        25
weighted avg       0.51      0.52      0.48        25

<font color='red'>Comment</font>

https://blog.exsilio.com/all/accuracy-precision-recall-f1-score-interpretation-of-performance-measures/

## Accuracy

how often the model is correct. However, it can be misleading with imbalanced classes.

accuracy = (tp + tn) / (tp + tn + fp + fn)

## Precision

ratio of correctly predicted positive observations to the total predicted positive observations. 

e.g. of all observations classified as a credit risk, how many were actually a credit risk? Did we classify comprehensively and correctly?

High precision -> low FPs rate

precision = tp / (tp + fp)

## Recall

ratio of correctly predicted positive observations to all predicted observations for that class.

e.g. of all observations classified as a credit risk, how did the model classified as being a credit risk?

High recall -> low FN rate.

recall = tp / (tp + fn)

# Break

<font color='red'>Comment</font>

Q) Would you trust your results? I wouldn't put my money behind it.

Q) How could you improve the models accuracy? Give it more data.